/sasquatch-api/target/
/sasquatch-demo/target/
/sasquatch-parso/target/
/sasquatch-ri/target/
/sasquatch-sassy/target/
/sasquatch-samples/target/
/sasquatch-biostatmatt/target/
/sasquatch-desktop/target/
/sasquatch-cli/target/
/target/